
<div class="nav">
        <div class="nav-logo">
           <a href="/{{grav.language.getActive}}">
            <img src="{{ url('theme://images/logo666.png') }}" alt="logo">
            <p>Sebastian Piaścik</p></a>
        </div>
        <div class="nav-content section-content flex">
            <div class="nav-logo">
           <a href="/{{grav.language.getActive}}">
                <img src="{{ url('theme://images/logo666.png') }}" alt="logo">
                <p>Sebastian Piaścik</p></a>
            </div>
            <div class="nav-ul">
                <ul>
                   {% if page.title == 'Portfolio' %}
                   
                       {% if grav.language.getActive == 'pl' %}
                       <li class="button-home"><a href="/{{grav.language.getActive}}" class="active">Start</a></li>
                        <li class="button-about"><a href="/{{grav.language.getActive}}#about">O mnie</a></li>
                        <li class="button-skills"><a href="/{{grav.language.getActive}}#skills">Umiejętności</a></li>
                        <li class="button-portfolio"><a href="/{{grav.language.getActive}}#portfolio">Portfolio</a></li>
                        <li class="button-services"><a href="/{{grav.language.getActive}}#services">Usługi</a></li>
                        <li class="button-contact"><a href="/{{grav.language.getActive}}#contact">Kontakt</a></li>
                       {% else %}
                        <li class="button-home"><a href="/{{grav.language.getActive}}" class="active">Home</a></li>
                        <li class="button-about"><a href="/{{grav.language.getActive}}#about">About</a></li>
                        <li class="button-skills"><a href="/{{grav.language.getActive}}#skills">Skills</a></li>
                        <li class="button-portfolio"><a href="/{{grav.language.getActive}}#portfolio">Portfolio</a></li>
                        <li class="button-services"><a href="/{{grav.language.getActive}}#services">Services</a></li>
                        <li class="button-contact"><a href="/{{grav.language.getActive}}#contact">Contact</a></li>
                       {% endif %}
                    
                    
                    {% else %}
                    
                    {% for row in page.collection()|batch(2) %}
                      {% for module in row %} 
                        {% if not module.header.hidemenu %}
                        {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
                            <li class="{{ module.header.class }}">
                                <a href="" class="{{ current_module }}">{{ module.menu }}</a>
                            </li>
                        {% endif %}    
                    {% endfor %}
                    {% endfor %}
                    
                    {% endif %}
                    <li><a href="/pl" class="lang"><span>PL</span></a><a href="/en" class="lang"><span>EN</span></a></li>
                </ul>
            </div>
            <div class="hamburger">
                <div class="bar bar-1"></div>
                <div class="bar bar-2"></div>
                <div class="bar bar-3"></div>
            </div>
        </div>
        <div class="hamburger">
            <div class="hamburger-content">
                <div class="bar bar-1"></div>
                <div class="bar bar-2"></div>
                <div class="bar bar-3"></div>
            </div>
        </div>
    </div>
        
        
        

