    <div class="facts">
        <div class="facts-content section-content flex">
           {% for item in page.header.facts %}
            <div class="fact fact-{{loop.index}} col-xs-6 col-sm-3 timer">
                <img src="{{item.image}}" alt="ikona fakt">
                <h2 class="timer timer-{{loop.index}}" data-number="{{item.title}}"></h2>
                <p>{{item.subtitle}}</p>
            </div>
            {% endfor %}
        </div>
    </div>