    <div class="services" id="services">
        <div class="services-content section-content flex row">
            <div class="services-description col-md-5">
                <!--                <div class="services-slider"></div>-->
                <!--                <div class="under-line"></div>-->
                <h2 class="like-h1">{{page.header.heading}} <br/>{{page.header.heading2}}</h2>
                {{page.content}}
                <div class="button button-color button-contact">{{page.header.button}}</div>
            </div>
            <div class="services-info flex col-md-7">
               {% for item in page.header.services %}
                <div class="service flex col-md-6">
                    <div class="service-img">
                        <img src="/user/themes/mytheme/images/ikony/launch.svg" alt="ikona usługi">
                    </div>
                    <div class="service-content">
                        <h6>{{item.title}}</h6>
                        <p>{{item.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>