    <div class="wallpaper wallpaper-home flex" id="home">
        <div class="wallpaper-content section-content">
            <h1>I`m Front-end<br/>Developer</h1>
            <h3>{{page.header.heading}} <br/>{{page.header.heading2}}</h3>
            <div class="buttons">
                <div class="button button-black button-link"><a href="/{{grav.language.getActive}}/portfolio">{{page.header.button_portfolio}}</a></div>
                <div class="button button-color button-contact">{{page.header.button_kontakt}}</div>
            </div>
        </div>
    </div>